// ------------------------------------------------------------------
// VARIABLES: Colors
// ------------------------------------------------------------------

$color--yellow: #FFCE43;
$color--red: #FF7145;
$color--green: #48D8A8;
$color--blue: #65A2EA;
$color--purple: #776BCF;
