// ------------------------------------------------------------------
// VARIABLES: Breakpoints
// ------------------------------------------------------------------

$BP--XL: 1400px;
$BP--L: 1020px;
$BP--M: 760px;
$BP--S: 480px;
$BP--XS: 320px;
