// ------------------------------------------------------------------
// VARIABLES: Grid
// ------------------------------------------------------------------

$max-width: $BP--XL;
$min-width: $BP--XS;
$max-margin: 80px;
$min-margin: 24px;

$columns: 24;
